.container{
    background-color: #efeeee;
    padding: 30px;
}
.order__container{
    background-color: white;
    padding: 20px;
}
.order__container h2{
    border-bottom: 2px solid var(--primary-shad);
    padding: 20px;
}
.order__container p{
    padding: 15px;
}
.order__container img{
    width: 100% !important;
}
.order__container div{
    height: auto !important;
}
/* .orderId{
    text-align: center;
} */


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 5px;
  }
  
  .pagination button {
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .pagination button:hover:not(:disabled) {
    background-color: #ddd;
  }
  
  .pagination button:disabled {
    color: #aaa;
    cursor: not-allowed;
  }
  
  .pagination button.active {
    background-color: #f0c14b;
    border-color: #a88734;
    color: #111;
  }